{% extends "base.html" %}
{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ SITENAME }} - {{ article.title|striptags  }}{% endblock %}

{% block head %}
  {{ super() }}

  {% import 'translations.html' as translations with context %}
  {% if translations.entry_hreflang(article) %}
    {{ translations.entry_hreflang(article) }}
  {% endif %}

  {% if article.description %}
    <meta name="description" content="{{article.description}}" />
  {% endif %}

  {% for tag in article.tags %}
    <meta name="tags" content="{{tag}}" />
  {% endfor %}
{% endblock %}

{% block content %}
<hr>
<section id="content" class="body">
  <footer class="post-info">
    <time class="published" datetime="{{ article.date|strftime('%m %Y') }}">
      Date: {{ article.date|strftime('%m / %Y') }}
    </time>
    {% if article.modified %}
    <time class="modified" datetime="{{ article.modified.isoformat() }}">
      {{ article.locale_modified }}
    </time>
    {% endif %}
    {% if article.category %}
    <div class="category">
        Provenance: <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category }}</a>
    </div>
    {% endif %}
    {% if article.location %}
    <div class="location">
      Location: {{article.location}}
    </div>
    {% endif %}
    {% if article.solo %}
    <div class="solo">
      {% if article.solo == "True" %}
      Solo project
      {% else %}
      Collaborative project
      {% endif %}
    </div>
    {% endif %}
    {% if article.people %}
    <div class="collaborators">
      {% for person in article.people.split(',') %}
        {{person}}, 
      {% endfor %}
    </div>
    {% endif %}
    {% if article.type %}
    <div class="project-type">
     Project-type: {{article.type}}
    </div>
    {% endif %}
    {% if article.usefulness %}
    <div class="usefulness">
      Usefulness: {{article.usefulness}} /
    </div>
    {% endif %}
    {% if article.weight %}
    <div class="weight">
      Weight: {{article.weight}}
    </div>
    {% endif %}
    {% if article.tags %}
    <div class="tags">
        Tags:
        {% for tag in article.tags %}
            <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}
    debug: <pre>{{ article.metadata }}</pre>
    <div class="col-6">
      <hr>
    </div>
  </footer><!-- /.post-info -->
  <div class="entry-content">
    <header>
      <h2 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
    </header>
    {{ article.content }}
  </div><!-- /.entry-content -->
</section>
{% endblock %}
